<div id="midle_content__wrapper">
    <app-svg-tag
        [svgWidth]=55
        [elementXTransform]=27
        [y]=36
        [elementHeight]="'100%'"
        [svgHeight]="this.svgHeightStart"
        [elementWidth]= 1
        [color]="this.changeLineColorBasedOnPageSection()"
    ></app-svg-tag>
    <app-floating-icons-wrapper
        [floatingIcons]="this.floatingIcons"
        [pageStatus]="this.pageLayout"
    ></app-floating-icons-wrapper>
    <app-menu-icon
        [pageLayout]="this.pageLayout"
    ></app-menu-icon>
    <app-svg-tag
        [svgWidth]="this.svgWidthEnd"
        [elementXTransform]="this.elementXtransformEnd"
        [y]=0
        [elementHeight]="'100%'"
        [svgHeight]="this.svgHeightEnd"
        [elementWidth]= 1
        id="endLineSvg"
        [color]="this.changeLineColorBasedOnPageSection()"
    ></app-svg-tag>
</div>