svg{
    height: 100%;
    width: 1px;
}
#endLineSvg{
    margin-top: -2.1%;
}
#midle_content__wrapper{
    height: 74vh;
    display: flex;
    justify-content: space-between;
}
app-menu-icon{
    margin-left: auto;
    margin-right: 20px;
    margin-top: -20px;
}
app-floating-icons-wrapper{
    width: 90%;
}
app-side-line-midle-page{
    height: 100%;
}
@media only screen and (max-width : 1366px) {
    #midle_content__wrapper{
        height: 76vh;        
    }
    #endLineSvg{
        margin-top: -2.9%;
    }
}
@media only screen and (min-width : 3000px) {
    #midle_content__wrapper{
        height: 76vh;      
    }
    #endLineSvg{
        margin-top: -1%;
    }
}