<div id="midle_content__wrapper">
    <app-svg-tag
        [svgWidth]=55
        [elementXTransform]=27
        [y]=36
        [elementHeight]="'100%'"
        [svgHeight]="'100%'"
        [elementWidth]= 1
    ></app-svg-tag>
    <app-floating-icons-wrapper></app-floating-icons-wrapper>
    <app-icon-tag id="menuIconWrapper" [name]='this.menuIconName' [id]='this.menuIconId' [class]="this.menuIconClass"></app-icon-tag>
    <app-svg-tag
        [svgWidth]=55
        [elementXTransform]=27
        [y]=0
        [elementHeight]="'100%'"
        [svgHeight]="'100%'"
        [elementWidth]= 1
        id="endLineSvg"
    ></app-svg-tag>
</div>