#endLineSvg{
    margin-top: -2.1%;
}
#midle_content__wrapper{
    height: 650px;
    display: flex;
    justify-content: space-between;
}
#menuIconWrapper{
    margin-left: auto;
}
app-floating-icons-wrapper{
    width: 90%;
}