<app-page-background 
    [backgroundVideo]="this.state.pageBackground"
></app-page-background>
<app-icon-page-content *ngIf="this.isFloatingIconPage()"
[pageSection]="this.state.pageSection"
[floatingIcons]="this.state.floatingIcons"
[socialIcons]="this.state.socialIcons"
></app-icon-page-content>
<app-informative-page-content *ngIf="this.isInformativePage()"
    [pageSection]="this.morningPage"
    [socialIcons]="this.state.socialIcons"
    [page]="this.state.page"
></app-informative-page-content>
<app-timeline-page-content *ngIf="this.isTimelinePage()"
    [pageSection]="this.morningPage"
    [socialIcons]="this.state.socialIcons"
>
</app-timeline-page-content>
<router-outlet></router-outlet>