<app-page-background 
    [backgroundVideo]="this.state.pageBackground"
></app-page-background>
<app-icon-page-content *ngIf="this.isFloatingIconPage()"
[pageSection]="this.state.pageSection"
[floatingIcons]="this.state.floatingIcons"
[socialIcons]="this.state.socialIcons"
></app-icon-page-content>
<app-informative-page-content *ngIf="this.isInformativePage()"
    [pageSection]="this.morningPage"
    [socialIcons]="this.state.socialIcons"
    [page]="this.state.page"
></app-informative-page-content>
<app-timeline-page-content *ngIf="this.isTimelinePage()"
    [pageSection]="this.state.pageSection"
    [socialIcons]="this.state.socialIcons"
    [timelineYears]="this.state.timelineYears"
    [tinelineItems]="this.state.timelineItems"
    [updateApi]="this.updateTimeline.bind(this)"
>
</app-timeline-page-content>
<app-contact-page-content *ngIf="this.isContactPage()"
[socialIcons]="this.state.socialIcons"
[pageSection]="this.state.pageSection"
[contactFormAction]="this.contactForm.sendMessage.bind(this)"
></app-contact-page-content>
<app-guardians-page-content *ngIf="this.isGuardiansPage()"
    [pageSection]="this.morningPage"
    [socialIcons]="this.state.socialIcons"
    [page]="this.state.page"
></app-guardians-page-content>
<app-us-page-content *ngIf="this.isUsPage()"
[socialIcons]="this.state.socialIcons"
[pageSection]="this.state.pageSection"
[page]="this.state.page"
>
</app-us-page-content>
<app-network-page-content *ngIf="this.isNetworkPage()"
    [socialIcons]="this.state.socialIcons"
    [pageSection]="this.state.pageSection"
    [page]="this.state.page"
>
</app-network-page-content>
<app-stamp-page-content *ngIf="this.isStampPage()"
    [socialIcons]="this.state.socialIcons"
    [pageSection]="this.state.pageSection"
    [page]="this.state.page"
>
</app-stamp-page-content>
<app-talks-page-content *ngIf="this.isTalksPage()"
    [socialIcons]="this.state.socialIcons"
    [pageSection]="this.state.pageSection"
    [page]="this.state.page"
>
</app-talks-page-content>
<router-outlet></router-outlet>