#endLineSvg{
    margin-top: -2.1%;
}
#midle_content__wrapper{
    height: 74vh;
    display: flex;
    justify-content: space-between;
}
#midle_page_content__wrapper{
    display: flex;
    justify-content: space-between;
    max-height: 100%;
    padding: 1em;
    margin: 4em;
    margin-top: 0px;
    width: 100%;
}
app-menu-icon{
   margin-left: auto;
   margin-right: 20px;
}
app-timeline-wrapper{
    width: 1175px;
    max-width: 85%;
}
app-timeline-icons-menu{
    width: 15%;
    align-self: center;
}
app-image-slider{
    width: 100%;
}
@media only screen and (max-width : 1366px) {
    #midle_content__wrapper{
        height: 76vh;        
    }
    #endLineSvg{
        margin-top: -3.1%;
    }
    app-timeline-wrapper{
        max-width: 830px
    }
}
@media only screen and (min-width : 2000px) {
    app-timeline-wrapper{
        max-width: 1700px;
    }
}
@media only screen and (min-width : 3000px) {
    #midle_content__wrapper{
        height: 76vh;       
    }
    #endLineSvg{
        margin-top: -1%;
    }
    app-timeline-wrapper{
        max-width: 2630px;
    }
}