<div id="midle_content__wrapper">
        <app-svg-tag
            [elementHeight]="'100%'"
            [elementWidth]= 1
            [elementXTransform]=27
            [svgWidth]="'55px'"
            [ngClass]="'side_svg'"
            [color]="'rgba(0,0,0, 1)'"
            [class]="'midle-svg start'"
        ></app-svg-tag>
        <div id="midle_page_content__wrapper">
            
        </div>
        <app-menu-icon
            [pageLayout]="this.pageSection"
        ></app-menu-icon>
        <app-svg-tag
            [elementHeight]="'100%'"
            [elementWidth]= 1
            [svgWidth]=1
            [x]=54
            [ngClass]="'side_svg'"
            id="endLineSvg"
            [color]="'rgba(0,0,0, 1)'"
            [class]="'midle-svg end'"
        ></app-svg-tag>
    </div>