<app-timeline-menu-icon [label]="'Selo 1%'" [id]="'stamp'"></app-timeline-menu-icon>
<app-timeline-menu-icon [label]="'Mensagem recebida'" [id]="'message'"></app-timeline-menu-icon>
<app-timeline-menu-icon [label]="'Palestras'" [id]="'talks'"></app-timeline-menu-icon>
<app-timeline-menu-icon [label]="'Conexões'" [id]="'connection'"></app-timeline-menu-icon>
<app-timeline-menu-icon [label]="'Co-lab'" [id]="'network'"></app-timeline-menu-icon>
<app-timeline-menu-icon [label]="'Base de apoio'" [id]="'partnership'"></app-timeline-menu-icon>
<app-timeline-menu-icon [label]="'Projetos'" [id]="'projects'"></app-timeline-menu-icon>