.morning_colab{
    padding: 2em;
    text-align: justify;
}

@media only screen and (max-width : 1366px) {
    #informative_section__wrapper{
        height: 300px;
        overflow-y: scroll;
    }
}