.morning_colab{
    padding: 2em;
    text-align: justify;
}

@media only screen and (max-width : 1440px) {
    #informative_section__wrapper{
        overflow-y: scroll;
    }
    .morning_colab{
        padding-top: 0;
        padding-bottom: 0;
        height: 205px;
    }
}