<section id="colab_page__wrapper">
    <div class='flex-row'>
        <app-icon-page-top-row
        [pageSection]="this.pageSection"
        ></app-icon-page-top-row>
    </div>
    <div class='flex-row'>
        <app-colab-page-midle-row @scaleIn
            [menuAction]="this.menuAction"
        >
        </app-colab-page-midle-row>
    </div>
    <div class='flex-row'>
        <app-icon-page-bottom-row
            [pageSection]="this.pageSection"
        ></app-icon-page-bottom-row>
    </div>
    <div class='flex-row' id='social'>
        <app-social-icons-wrapper
            [socialIcons]="this.socialIcons"
            [pageStatus]="this.pageSection"
        ></app-social-icons-wrapper>
    </div>
</section>