.afternoon{
    width: 200px;
    height: 200px;
}
.floatingIcon{
    width: 85px;
    height: 85px;
    display: flex;
    svg{
        margin-left: auto;
        margin-right: auto;
    }
}
.topInformativePageIcon{
    svg{
        width: 40px;
        height: 40px;
    }
}