#downloadElement{
    display: flex;
    align-content: flex-end;
    fa{
        align-self: center;
        margin-left: 10px;
        margin-right: 15%;
    }
    p{
        margin-left: auto;
    }
}
// fa{
//     margin-top: 15px;
//     margin-left: 10px;
// }