#downloadElement{
    display: flex;
    align-content: flex-end;
    fa{
        align-self: center;
        margin-left: 10px;
        margin-right: 15%;
        cursor: pointer;
    }
    p{
        margin-left: auto;
        cursor: pointer;
    }
}

.disabled fa, .disabled p{
    color: grey;
    cursor: default !important;
}