#downloadElement{
    display: flex;
    align-content: flex-end;
    
    img{
        max-height: 16px;
        align-self: center;
    }
    p{
        margin-left: auto;
        cursor: pointer;
        width: 100%;
    }
}
.disabled fa, .disabled p{
    color: grey;
    cursor: default !important;
}