<section id={{this.sectionId}}>
    <div class='flex-row'>
        <app-icon-page-top-row
        [pageSection]="this.pageSection"
        ></app-icon-page-top-row>
    </div>
    <div class='flex-row'>
       <app-informative-page-midle-row
        [pageLayout]="this.pageSection"
        [page]="this.page"
       ></app-informative-page-midle-row>
    </div>
    <div class='flex-row'>
        <app-icon-page-bottom-row
            [pageSection]="this.pageSection"
        ></app-icon-page-bottom-row>
    </div>
    <div class='flex-row' id='social'>
        <app-social-icons-wrapper
            [socialIcons]="this.socialIcons"
            [pageStatus]="this.pageSection"
        ></app-social-icons-wrapper>
    </div>
</section>