<div id="palets_status__wrapper">
    <app-palet-page-status
        [name]="this.nameCircleIcon"
        [paletPageStatus]="this.pageStatusMorning"
        [pageStatus]="this.pageStatus"
        [class]="'morning'"
        routerLink="/manha"
    ></app-palet-page-status>
    <app-palet-page-status
        [name]="this.nameCircleIcon"
        [paletPageStatus]="this.pageStatusAfternoon"
        [pageStatus]="this.pageStatus"
        [class]="'afternoon'"
        routerLink="/tarde"
    ></app-palet-page-status>
    <app-palet-page-status
        [name]="this.nameCircleIcon"
        [paletPageStatus]="this.pageStatusNight"
        [pageStatus]="this.pageStatus"
        [class]="'night'"
        (click)="this.callChangeSection(this.pageStatusNight)"
        routerLink="/noite"
    ></app-palet-page-status>
</div>