#title{
    font-weight: bold;
}
#image_wrapper{
    img{
        width: 175px;
    }
}
#text_content{
    width: 242px;
    padding-right: 1em;
}
.row{
    display:flex;
}
.galery_wrapper{
    padding: 2em;
}