<div id="contact__wrapper">
    <app-input
    [type]="'text'"
    [name]="'nome'"
    [label]="'nome'"
    ></app-input>
    <app-input
        [type]="'text'"
        [name]="'email'"
        [label]="'email'"
    ></app-input>
    <app-input
        [type]="'text'"
        [name]="'celular'"
        [label]="'celular'"
    ></app-input>
    <app-input
        [type]="'text-area'"
        [name]="'mensagem'"
        [label]="'mensagem'"
    ></app-input>
    <app-button-tag
        [btnText]="'enviar'"
        [class]="'right'"
    >
    </app-button-tag>
</div>
<div>
    <app-umporcento-info>
    </app-umporcento-info>
</div>