#contact__wrapper{
    display: flex;
    flex-direction: column;
    min-height: 320px;
    padding-left: 20%;
    padding-right: 20%;
}
app-input{
    width: 99%;
    margin-bottom: 1em;
}
app-button-tag{
    display: flex;
    margin-top: -1%;
}
app-image-tag{
    margin-left: auto;
    margin-top: -30%;
    opacity: 0;
    margin-right: 3%;
}
#return_icon_wrapper{
    text-align: center;
    width: 100%;
    cursor: pointer;
}
.animateFadeIn{
    animation: fadeInFromNone 1s ease-out;
    opacity: 1;
}

@keyframes fadeInFromNone {
    0% {

        opacity: 0;
    }

    10% {

        opacity: .1;
    }

    
    20% {

        opacity: .2;
    }
    
    30% {

        opacity: .3;
    }
    100% {
        opacity: 1;
    }
}