.icon{
    width: 40px;
}
.inforativePageImage{
    margin-left: auto;
    margin-right: auto;
}
#topIconInformativePage{
    width: 55px;
    height: 55px;
}
@media only screen and (max-width : 1366px) {
    .person_instagram_image{
        max-width: 350px;
    }
}