.icon{
    width: 40px;
}
.inforativePageImage{
    margin-left: auto;
    margin-right: auto;
    max-height: auto;
    max-width: 100%;
}
#topIconInformativePage{
    width: 55px;
    height: 55px;
}
.activefalse{
    opacity: .13;
}
.stamp_slider__item{
    border: 1px solid black;
}
.slider_talk_images{
    max-height: 400px;
}
.art_slider{
    max-width: 500px;
    max-height: 400px;
}
.person_instagram_image{
    width: 100%;
    height: auto;
}
@media only screen and (max-width : 1366px) {
    .person_instagram_image{
        max-width: 350px;
    }
    .slider_talk_images{
        max-height: 250px;
    }
    .inforativePageImage{
        max-height: 295px;
    }
}