#icon_page_bottom__wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: -1%;
}

@media only screen and (max-width : 1280px) {
    #icon_page_bottom__wrapper{
        margin-top: -1.4%;
    }
}