#icon_page_bottom__wrapper{
    display: flex;
    justify-content: space-between;
    border-right: 1px solid black;
    border-left: 1px solid black;
}
#icon_page_bottom__wrapper.night, #icon_page_bottom__wrapper.afternoon{
    border-right: 1px solid white;
    border-left: 1px solid white;
}
.bottom-line{
    width: 100%;
    align-self: flex-end;
    position: relative;
}
.bottom-line::before{
    content: '';
    background-color: black;
    position: absolute;
    white-space: pre;
    width: calc(100% - 55px);
    height: 1px;
    top: -1px;
    left: 0;
}
.bottom-line.end::before{
    left: 55px;
}
app-palets-page-status-wrapper{
    margin-bottom: -1%;
}

.bottom-line.night::before, .bottom-line.afternoon::before{
    background-color: white;
  }
