<section id="icon_page_bottom__wrapper">
    <app-svg-tag
        id="bottom_svg_line__start"
        class="bottom_svg__line"
        [elementWidth]= "this.lineWidthStart"
        [svgWidth]="this.lineWidthEnd"
        [svgHeight]="this.svgHeight"
        [elementYTransform]="this.elementYTransform"
        [x]="this.elementXStart"
    ></app-svg-tag>
    <app-palets-page-status-wrapper
        [pageStatus]="this.pageSection"
        [changeSection]="this.changeSection.bind(this)"
    ></app-palets-page-status-wrapper>
    <app-svg-tag
        class="bottom_svg__line"
        id="bottom_svg_line__end"
        [elementWidth]= "this.lineWidthEnd"
        [svgWidth]="this.lineWidthEnd"
        [svgHeight]="this.svgHeight"
        [elementYTransform]="this.elementYTransform"
        [x]="this.elementXend"
    ></app-svg-tag>
</section>