#IconWrapper{
    padding: 5%;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}
.flex-row{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}