.palet__wrapper{
    padding: .2em;
    padding-top: 0em;
    padding-bottom: 0em;
    cursor: pointer;
}
.palet__wrapper.off{
    border-radius: 2em;
}
.palet__wrapper.on{
    border: 2px solid #fff;
    border-radius: 2em;
}

fa.morning, .palet__wrapper.morning{
    color: #fff;
}


fa.afternoon, .palet__wrapper.afternoon{
    color: #12D9E1;
}