.person_instagam_image_wrapper{
    max-width: 100%;
    margin-bottom: 8.6%;
    position: relative;
}
.instagram_name__wrapper{
    display: flex;
    font-weight: bold;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    .instagam_wrapper_interno{
        position: absolute;
        display: -webkit-box;
        display: flex;
        top: 87%;
        width: 100%;
        background-color:rgba(0, 0, 0, 0.8);
    }
    a{
        margin-left: auto;
        margin-right: auto;
        padding: 1em;
        color: #12D9E1;
        font-size: 18px;
    }
}

.us .instagram_name__wrapper{
    position: absolute;
    text-align: center;
    .instagam_wrapper_interno{
        top: 30%;
    }
    a{
        margin-left: auto;
        margin-right: auto;
        padding-top: 3em;
        padding-bottom: 3em;
        color: #fff;
        font-size: 7px;
    }
}
.person_instagam_image_wrapper.us_off.responsive, .person_instagam_image_wrapper.us.responsive{
    margin-bottom: 0 !important;
    app-image-tag{
        margin-bottom: 0 !important;
    }   
}
app-image-tag{
    margin-bottom: 8.6%;
}


@media only screen and (max-width : 1440px) {
    .person_instagam_image_wrapper{
        max-width: 330px;
    }
    .person_instagam_image_wrapper.us_off.responsive, .person_instagam_image_wrapper.us.responsive{
        margin-bottom: 0 !important;
        app-image-tag{
            margin-bottom: 0 !important;
        }   
    }
    .instagram_name__wrapper.us{
        .instagam_wrapper_interno{
            top: 30%;
            a{
                font-size: 6px;
            }
        }
    }
    .instagram_name__wrapper.guardian{
        .instagam_wrapper_interno{
            top: 87%;
        }
    }

}