<swiper [config]="swiperConfig">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
        <app-image-tag
            [imgSrc]="'/assets/img/palestras/palestra_1.jpg'"
            [imgAlt]="'Palestra 1 1%'"
            [class]="'slider_talk_images'"
        >
        </app-image-tag>
    </div>
    <div class="swiper-slide">
        <app-image-tag
            [imgSrc]="'/assets/img/palestras/palestra_2.jpg'"
            [imgAlt]="'Palestra 2 1%'"
            [class]="'slider_talk_images'"
        >
        </app-image-tag>
    </div>
    <div class="swiper-slide">
        <app-image-tag
            [imgSrc]="'/assets/img/palestras/palestra_3.jpg'"
            [imgAlt]="'Palestra 3 1%'"
            [class]="'slider_talk_images'"
        >
        </app-image-tag>
    </div>
    <div class="swiper-slide">
        <app-image-tag
            [imgSrc]="'/assets/img/palestras/palestra_4.jpg'"
            [imgAlt]="'Palestra 4 1%'"
            [class]="'slider_talk_images'"
        >
        </app-image-tag>
    </div>
    <div class="swiper-slide">
        <app-image-tag
            [imgSrc]="'/assets/img/palestras/palestra_5.jpg'"
            [imgAlt]="'Palestra 5 1%'"
            [class]="'slider_talk_images'"
        >
        </app-image-tag>
    </div>
    <div class="swiper-slide">
        <app-image-tag
            [imgSrc]="'/assets/img/palestras/palestra_6.jpg'"
            [imgAlt]="'Palestra 6 1%'"
            [class]="'slider_talk_images'"
        >
        </app-image-tag>
    </div>
    <div class="swiper-slide">
        <app-image-tag
            [imgSrc]="'/assets/img/palestras/palestra_7.jpg'"
            [imgAlt]="'Palestra 7 1%'"
            [class]="'slider_talk_images'"
        >
        </app-image-tag>
    </div>
    <div class="swiper-slide">
        <app-image-tag
            [imgSrc]="'/assets/img/palestras/palestra_8.jpg'"
            [imgAlt]="'Palestra 8 1%'"
            [class]="'slider_talk_images'"
        >
        </app-image-tag>
    </div>
    <div class="swiper-slide">
        <app-image-tag
            [imgSrc]="'/assets/img/palestras/palestra_9.jpg'"
            [imgAlt]="'Palestra 9 1%'"
            [class]="'slider_talk_images'"
        >
        </app-image-tag>
    </div>
    <div class="swiper-slide">
        <app-image-tag
            [imgSrc]="'/assets/img/palestras/palestra_10.jpg'"
            [imgAlt]="'Palestra 10 1%'"
            [class]="'slider_talk_images'"
        >
        </app-image-tag>
    </div>
    <div class="swiper-slide">
        <app-image-tag
            [imgSrc]="'/assets/img/palestras/palestra_11.jpg'"
            [imgAlt]="'Palestra 11 1%'"
            [class]="'slider_talk_images'"
        >
        </app-image-tag>
    </div>
    <div class="swiper-slide">
        <app-image-tag
            [imgSrc]="'/assets/img/palestras/palestra_12.jpg'"
            [imgAlt]="'Palestra 12 1%'"
            [class]="'slider_talk_images'"
        >
        </app-image-tag>
    </div>
    <div class="swiper-slide">
        <app-image-tag
            [imgSrc]="'/assets/img/palestras/palestra_13.jpg'"
            [imgAlt]="'Palestra 13 1%'"
            [class]="'slider_talk_images'"
        >
        </app-image-tag>
    </div>
    <div class="swiper-slide">
        <app-image-tag
            [imgSrc]="'/assets/img/palestras/palestra_14.jpg'"
            [imgAlt]="'Palestra 14 1%'"
            [class]="'slider_talk_images'"
        >
        </app-image-tag>
    </div>
    <div class="swiper-slide">
        <app-image-tag
            [imgSrc]="'/assets/img/palestras/palestra_15.jpg'"
            [imgAlt]="'Palestra 15 1%'"
            [class]="'slider_talk_images'"
        >
        </app-image-tag>
    </div>
    <div class="swiper-slide">
        <app-image-tag
            [imgSrc]="'/assets/img/palestras/palestra_16.jpg'"
            [imgAlt]="'Palestra 16 1%'"
            [class]="'slider_talk_images'"
        >
        </app-image-tag>
    </div>
    <div class="swiper-slide">
        <app-image-tag
            [imgSrc]="'/assets/img/palestras/palestra_17.jpg'"
            [imgAlt]="'Palestra 17 1%'"
            [class]="'slider_talk_images'"
        >
        </app-image-tag>
    </div>
    <div class="swiper-slide">
        <app-image-tag
            [imgSrc]="'/assets/img/palestras/palestra_18.jpg'"
            [imgAlt]="'Palestra 18 1%'"
            [class]="'slider_talk_images'"
        >
        </app-image-tag>
    </div>
  </div>
  <!-- Add Arrows -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</swiper>
