#top-wrapper {
  display: flex;
  border-right: 1px solid black;
}

#top-line {
  width: calc(100% - 65px);
  align-self: flex-start;
  margin-left: auto;
  position: relative;
}

#top-line::before {
  content: '';
  background-color: black;
  position: absolute;
  white-space: pre;
  width: 100%;
  height: 1px;
  top: 5%;
  left: 0;
}

app-image-tag {
    margin-top: -2%;
    margin-left: -2%;
    cursor: pointer;
}

#top-line.night::before, #top-line.afternoon::before{
  background-color: white;
}
#top-wrapper.night, #top-wrapper.afternoon{
  border-right: 1px solid white;
}

@media only screen and (min-width : 2000px) {
  app-image-tag {
    margin-top: -1%;
    margin-left: -1%;
}
}