<app-timeline-search-bar
    [searchText]="this.searchSite.bind(this)"
    [results]="this.searchResults"
    [pageSection]="this.pageSection"
></app-timeline-search-bar>
<div id="top-wrapper" class="{{this.pageSection}}">
    <app-umporcento-main-logo
        [logoUmporcento]="this.logoUmporcento"
        [logoUmporcentoAlt]="this.logoUmporcentoAlt"
        [logoUmporcentoId]="this.logoUmporcentoId"
    ></app-umporcento-main-logo>
    <div id='top-line' class="{{this.pageSection}}">
    </div>
</div>

