<section id="wrapper">
    <div>
        <button class="item {{(this.activeSlider === 'art')? 'active':''}} animated draw" (click)="this.handleMenuClick('art')">
            <span class="line_wrapper">
                <span class="line">                    
                </span>
                artes
            </span>
        </button>
    </div>
    <div>
        <button class="item {{(this.activeSlider === 'product')? 'active':''}} animated draw" (click)="this.handleMenuClick('product')">
            <span class="line_wrapper">
                <span class="line">                    
                </span>
                produtos
            </span>
        </button>
    </div>
    <div>
        <button class="item {{(this.activeSlider === 'midia')? 'active':''}} animated draw" (click)="this.handleMenuClick('midia')">
            <span class="line_wrapper">
                <span class="line">                    
                </span>
                mídias
            </span>
        </button>
    </div>
</section>