.menuIconnight, 
.menuIconafternoon, 
.social_icon_night,
.social_icon_afternoon
{
    color: white;
}
#menuIcon{
    text-align: center; 
    font-size: 1.5em;
}
.social_icon{
    padding: .3em;
}

.social_icon_morning{
    color: black;
}
.search_icon{
    color: white;
    font-size: 1.3em;
}
.refresh_icon{
    font-size: 80px;
}