#top_identifier__wrapper{
  display:flex;
  width:100%;
  max-height: 59px;
}
app-side-line-midle-page{
    height: 100%;
}
app-top-bar-identifier-informative-page{
    width: 100%;
}
#midle_content__wrapper{
    height: 69vh;
    z-index: 999;
    margin-top: 67px;
    margin-right: calc(3.2em + 40.5px);
    margin-left: 3.2em;
    margin-bottom: 3.2em;
}