<div class="search_wrapper {{this.pageSection}}">
    <app-icon-tag (mouseenter)="this.toggleInput()" (click)="this.searchText(this.inputValue)" [name]="'search'" [class]="'search_icon ' + this.pageSection"></app-icon-tag>
    <input (keyup)="this.handleInput($event)" (keyup.enter)="this.searchText(this.inputValue)" value={{this.inputValue}} type="text" class="showInput{{this.showInput}}" [@expandWidth]="this.showInput"/>
</div>
<div id="results">
    <div class="results_wrapper" >
        <div class="result" *ngFor="let result of this.results">
            <p [routerLink]="this.result.url">{{this.result.name}}</p>
        </div>
    </div>
</div>

