<div id="midle_content__wrapper">
  <app-side-line-midle-page
  [pageSection]="this.pageSection">   
  </app-side-line-midle-page>
  <div id="midle_page_content__wrapper">
    <div id="top_identifier__wrapper">
      <app-top-bar-identifier-informative-page
        [page]="this.page"
        [getPageLabelBasedOnPage]="this.pageLocationHelper.getPageLabelBasedOnPage.bind(this)"
        [pageLayout]="this.pageSection"
      >
      </app-top-bar-identifier-informative-page>
    </div>
    <div id="us_images__wrapper">
      <app-person-image-instagram
          [image]="'nos/01.jpg'"
          [active]=true
          [instagram]="'angelmirapalheta'"
          [class]="'us'"
      >
      </app-person-image-instagram>
      <app-person-image-instagram
          [image]="'nos/02.jpg'"
          [active]=false
      >
      </app-person-image-instagram>
      <app-person-image-instagram
          [image]="'nos/03.jpg'"
          [active]=false
      >
      </app-person-image-instagram>
      <app-person-image-instagram
          [image]="'nos/04.jpg'"
          [active]=false
      >
      </app-person-image-instagram>
      <app-person-image-instagram
          [image]="'nos/05.jpg'"
          [active]=false
      >
      </app-person-image-instagram>
      <app-person-image-instagram
          [image]="'nos/06.jpg'"
          [active]=false
      >
      </app-person-image-instagram>
      <app-person-image-instagram
          [image]="'nos/07.jpg'"
          [active]=false
      >
      </app-person-image-instagram>
      <app-person-image-instagram
          [image]="'nos/08.jpg'"
          [active]=false
      >
      </app-person-image-instagram>
      <app-person-image-instagram
          [image]="'nos/09.jpg'"
          [active]=true
          [instagram]="'oterolima'"
          [class]="'us'"
      >
      </app-person-image-instagram>
      <app-person-image-instagram
          [image]="'nos/10.jpg'"
          [active]=false
      >
      </app-person-image-instagram>
      <app-person-image-instagram
          [image]="'nos/11.jpg'"
          [active]=false
      >
      </app-person-image-instagram>
      <app-video-tag
          [video]="'/assets/video/Modelo_de_proposito.mp4'"
          [id]="'us_video'"
          [loop]=true
      >
      </app-video-tag>
      <app-person-image-instagram
          [image]="'nos/12.jpg'"
          [active]=true
          [instagram]="'vanjavasconcelospereira'"
          [class]="'us'"
      >
      </app-person-image-instagram>
      <app-person-image-instagram
          [image]="'nos/13.jpg'"
          [active]=false
      >
      </app-person-image-instagram>
      <app-person-image-instagram
          [image]="'nos/14.jpg'"
          [active]=false
      >
      </app-person-image-instagram>
      <app-person-image-instagram
          [image]="'nos/15.jpg'"
          [active]=false
      >
      </app-person-image-instagram>
      <app-person-image-instagram
          [image]="'nos/16.jpg'"
          [active]=false
      >
      </app-person-image-instagram>
      <app-person-image-instagram
          [image]="'nos/17.jpg'"
          [active]=false
      >
      </app-person-image-instagram>
      <app-person-image-instagram
          [image]="'nos/18.jpg'"
          [active]=false
      >
      </app-person-image-instagram>
      <app-person-image-instagram
          [image]="'nos/19.jpg'"
          [active]=false
      >
      </app-person-image-instagram>
      <app-person-image-instagram
          [image]="'nos/20.jpg'"
          [active]=false
      >
      </app-person-image-instagram>
      <app-person-image-instagram
          [image]="'nos/21.jpg'"
          [active]=false
      >
      </app-person-image-instagram>
      <app-person-image-instagram
          [image]="'nos/22.jpg'"
          [active]=false
      >
      </app-person-image-instagram>
    </div>
  </div>
  <app-menu-icon [pageLayout]="this.pageSection"></app-menu-icon>
  <app-side-line-midle-page
  [endLine]=true
  [pageSection]="this.pageSection">   
  </app-side-line-midle-page>
</div>
