#informative_page_navigation__wrapper{
    display: flex;
    align-content: flex-end;
    app-icon-tag{
        align-self: center;
        margin-left: 10px;
    }
    p{
        margin-left: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}