#midle_content__wrapper{
    height: 74vh;
    display: flex;
    justify-content: flex-start;
}
#midle_page_content__wrapper{
    display: flex;
    flex-flow: row wrap;
    background-color: white;
    max-height: 100%;
    padding: 1em;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}
#internal_midle_content__wrapper{
    width: 100%;
    display:flex;
    margin-left: auto;
    margin-right: auto;
}
#text_content{
    align-self: center;
    h1{
        text-shadow:
		-1px -1px 0 #12d9e1,
		1px -1px 0 #12d9e1,
		-1px 1px 0 #12d9e1,
        1px 1px 0 #12d9e1;
        color: white;
        font-size: 300px;
        margin: 0;
    }
    span{
        color: #12d9e1;
    }
}
