#top_identifier__wrapper{
    display:flex;
    max-height: 59px;
}
app-svg-tag{
    width: 84%;
    align-self: center;
}
app-informative-navigation{
    align-self: center;
}
app-image-tag{
    align-self: center;
}