#top_identifier__wrapper{
    display:flex;
    justify-content: space-between;
    max-height: 59px;
}
app-svg-tag{
    width: 100%;
    flex-grow: 2;
    align-self: center;
}
app-informative-navigation{
    align-self: center;
}
app-image-tag{
    align-self: center;
}