#top_identifier__wrapper{
    display:flex;
    max-height: 59px;
}
app-svg-tag{
    width: calc(100% - 230px);
    align-self: center;
}
app-informative-navigation{
    align-self: center;
    min-width: 155px;
}
app-image-tag{
    align-self: center;
}