<section id="slider_section">
  <swiper [config]="config">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let item of this.getImages()">
        <app-image-tag
          [imgSrc]="item"
          [class]="'art_slider'"
        ></app-image-tag>
      </div>
    </div>
  </swiper>
  <section id="download_section">
    <div id="pagination" class="swiper-pagination"></div>
    <app-download-btn 
    [page]="this.page"
    [colab]="this.artist"></app-download-btn>
  </section>
</section>