#floating_icons__wrapper{
    display: flex;
    justify-content: space-around;
}
.contianer_icon{
    height: 100%;
    display: flex;
    label{
        align-self: center;
        margin-left: 10px;
    }
}

.floating_icon__bg{
    background-color: #020102;
    border-radius: 50%;
    display: flex;
    width: 85px;
    height: 85px;
}
div.contianer_icon.afternoon > .floating_icon__bg{
    margin-left: 45%;
    background-color: transparent;
    width: 200px;
    height: 200px;
}


.floating_icon__bg > app-load-svg {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

#floating_icons_0__icon{
    order: 0;
    flex-grow: 2;
    margin-top:13%;
    margin-left: 20%;
}
#floating_icons_0__icon.afternoon{
    margin-left: 0;
}
#floating_icons_0__icon.afternoon > label{
    margin-right: auto;
}

#floating_icons_1__icon{
    order: 1;
    flex-grow: 1;
    margin-top:30%;
}
#floating_icons_2__icon{
    order: 2;
    flex-grow: 1;
    margin-top:8%;
}
#floating_icons_3__icon{
    order: 3;
    flex-grow: 1;
    margin-top:25%;
}
#floating_icons_4__icon{
    order: 4;
    flex-grow: 1;
    margin-top:10%;
}
#floating_icons_5__icon{
    order: 5;
    flex-grow: 1;
    margin-top:25%;
}

.night, .afternoon{
    color: white;
}

@media only screen and (max-width : 1366px) {
    div.contianer_icon.afternoon > .floating_icon__bg{
        margin-left: 42%
    }

    .contianer_icon{
        height: 100%;
        display: flex;
        label{
            align-self: center;
            margin-left: 0px;
        }
    }

    #floating_icons_0__icon{
        order: 0;
        flex-grow: 2;
        margin-top:13%;
        margin-left: 4%;
    }
}