<div *ngIf="this.floatingIcons !== []" id="floating_icons__wrapper" class="{{this.pageStatus}}">
    <div 
        *ngFor="let item of this.floatingIcons;index as i" 
        id="floating_icons_{{i}}__icon" 
        class={{this.defaultClassBuilt}}
        (mouseover)="this.toggleLabel(item.image, 'visible')"
        (mouseleave)="this.toggleLabel(item.image, 'hidden')"
        >
        <div class="floating_icon__bg">
            <app-load-svg *ngIf="item.title !== 'earth'"
                [svg]="item.image"
                [class]="this.pageStatus + ' floatingIcon'" 
                (click)="this.navigateTo(this.pageLocationHelper.getRouterLinkPasedOnLabel(item.title))"
            ></app-load-svg>
            <app-load-svg *ngIf="item.title === 'earth'"
                [svg]="item.image"
                [class]="this.pageStatus + ' floatingIcon'" 
                (click)="this.openGabw();"
        ></app-load-svg>
        </div>
        <label  (click)="this.navigateTo(this.pageLocationHelper.getRouterLinkPasedOnLabel(item.title))" [ngStyle]="item.labelStyle">{{item.title}}</label>
    </div>
</div>