<div id="floating_icons__wrapper">
    <app-image-tag
        [imgSrc]="this.imageSrc"
        [ngClass]="'floating_icon'"
    ></app-image-tag>
    <app-image-tag
        [imgSrc]="this.imageSrc"
        [ngClass]="'floating_icon'"
    ></app-image-tag>
    <app-image-tag
        [imgSrc]="this.imageSrc"
        [ngClass]="'floating_icon'"
    ></app-image-tag>
    <app-image-tag
        [imgSrc]="this.imageSrc"
        [ngClass]="'floating_icon'"
    ></app-image-tag>
    <app-image-tag
        [imgSrc]="this.imageSrc"
        [ngClass]="'floating_icon'"
    ></app-image-tag>
</div>