.slider_item__wrapper{
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
}
app-image-tag{
    margin-left: auto;
    margin-right: auto;
}
.stamp_slider_social_info{
    text-align: center;
    width: 100%;
}
.social_handle{
    font-size: 10px;
}