.row{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 550px;
}
.year_row__wrapper{
    display: flex;
    height: 1522px;
}
.item.line-3,.item.line-2,.item.line-1{
    margin-top: auto;
}
.row26, .row26.item{
    width: 750px;
}
.row27{
    margin-left: 500px;
}
.item{
    transition: box-shadow .5s ease-in-out;
    border: 0 solid grey;
    box-shadow: 13px 14px 26px 0px rgba(128, 128, 128, 0);
    cursor: pointer;
}
.item:hover{
    border: 1px solid gray;
    box-shadow: 13px 14px 26px 10px rgba(128, 128, 128, .74);
}
.row31{
    min-width: 1000px;
}