<div class="year_row__wrapper">
  <div class="row row{{itemsRow[0].rowPosition}}" *ngFor="let itemsRow of this.row">
      <div class="item id{{item.id}} line{{item.linePosition}}" *ngFor="let item of itemsRow" (click)="this.openItemFullPage(item)">
          <app-timeline-simple-image-text *ngIf="item.style === 'simple-image-text'" [timelineItem]="this.item">
          </app-timeline-simple-image-text>
          <app-timeline-simple-image-left-text *ngIf="item.style === 'simple-image-left-text'"
            [timelineItem]="this.item"></app-timeline-simple-image-left-text>
          <app-timeline-simple-person-image-text *ngIf="item.style === 'simple-person-image-text'"
            [timelineItem]="this.item">
          </app-timeline-simple-person-image-text>
          <app-timeline-galery-item *ngIf="item.style === 'galery'"
          [timelineItem]="this.item">
          </app-timeline-galery-item>
          <app-timeline-group-galery-section *ngIf="item.style === 'group-galery-section'"
          [timelineItem]="this.item">
          </app-timeline-group-galery-section>
          <app-timeline-group-seal *ngIf="item.style === 'group-seal'"
          [timelineItem]="this.item"></app-timeline-group-seal>
          <app-timline-group-conversions *ngIf="item.style === 'group-conversions'"
            [timelineItem]="this.item">
          </app-timline-group-conversions>
      </div>
  </div>
</div>