<div id="timeline_wrapper">
  <div *ngIf="this.isTimelineReady()" id="internal_timeline_wrapper">
    <div class="timeline_year__wrapper" *ngFor="let year of this.timelineYears">
        <app-timeline-item-row class="timeline_upper_items"
        [row]="year.upperItems">
        </app-timeline-item-row>
        <div class="timeline_midle_year_item__wrapper">
          <p>
            <strong>{{ year.year }}</strong>
          </p>
          <div>
            <hr />
          </div>
        </div>
        <app-timeline-item-row class="timeline_lower_items"
        [row]="year.lowerItems">
        </app-timeline-item-row>
    </div>
  </div>
</div>
