#timeline_wrapper{
    width: 100%;
    background-color: white;
    height: calc(100% - 20px);
    overflow: auto;
    max-width: 1160px;
}
#timeline_top_year_items__wrapper, #timeline_bottom_year_items__wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 10000px;
    max-height: 1000px;
}
#timeline_midle_year__wrapper{
    display: flex;
    height: 200px;
    width: 10000px;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    width: 100%;
  }