#timeline_wrapper{
    width: 100%;
    background-color: white;
    height: calc(100%);
    overflow: auto;
}
#internal_timeline_wrapper{
    width: 100%;
    max-width: 20000px;
    display: flex;
}
app-timeline-item-row{
    display: flex;
    flex-wrap: wrap;
}
#load_items{
    display: flex;
    app-load-timeline-items{
        align-self: center;
    }
    app-refresh-timeline-btn{
        align-self: center;
    }
}
app-timeline-search-bar{
    width: 100%;
    display: block;
}
.timeline_midle_year_item__wrapper{
    display: flex;
    .year{
        align-self: center;
        color: #12d9e1;
        font-size: 2.5em;
    }
    .hr_div{
        width: 100%;
        display: flex;
        hr{
            border: 1px dashed #000;
            width: 90%;
            align-self: center;
        }
    }
    #teste{
        display: flex;
        height: 200px;
        width: 10000px;
    }
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    width: 100%;
  }