<div *ngIf="this.timelineItem !== undefined" class="id{{this.timelineItem.id}}">
  <div id="timeline_item__wrapper" class="id{{this.timelineItem.id}}">
    <div *ngFor="let title of this.timelineIconTitle; index as i" class='item'>
      <img
        src="/assets/img/timeline/{{
          ecodeToUrl(this.timelineItemsImages[i])
        }}.jpg"
        alt=""
      />
      <p class="title">{{ title }}</p>
      <p>{{ this.timelineIconText[i] }}</p>
    </div>
  </div>
  <div class="icon id{{this.timelineItem.id}}">
    <app-timeline-item-icons-wrapper
      [itemType]="this.timelineItem.type"
    ></app-timeline-item-icons-wrapper>
    <div>
      <hr />
    </div>
  </div>
</div>
