#timeline_item__wrapper{
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    .title{
        font-weight: bold;
    }
    .item{
        width: 200px;
        padding: 0em 1em;
        border-right: 1px dashed grey;
        img{
            max-width: 100%;
        }
    }
}
.icon{
    display: flex;
    div{
        width: 100%;
        hr{
            border: 1px dashed grey;
            margin-top: 0px;
            margin-bottom: 5%;
        }
    }
}
.id151{
    width: 750px;
}
.id184{
    width: 950px;
}
#timeline_item__wrapper.id151{
    width: 750px; 
}

