.brand_image__wrapper{
    margin-bottom: 50%;
    position: relative;
}
.brand_information__wrapper{
    position: relative;
    cursor: pointer;
}
.brand_information_internal__wrapper{
    position: relative;
    max-width: 297px;
}

.brand_information_internal__wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    border: 2px solid #12D9E1;
}

.brand_information_internal__wrapper .title{
    color: #12D9E1;
    font-weight: bold;
    font-size: 20px;
    padding-top: 1em;
    padding-left: 1em;
}

.brand_information_internal__wrapper .brand_name{
    font-weight: bold;
    padding-left: 1em;
    font-size: 20px;
}

.brand_information_internal__wrapper .social{
    text-decoration: none;
    color: black;
    padding-left: 1em;
}
app-image-tag{
    max-width: 100%;
}