<div class="brand_image__wrapper" (click)="this.navigateTo(this.site)" (mouseover)="changeLabelVisibility('show')" (mouseleave)="changeLabelVisibility('hide')">
    <app-image-tag
        [imgSrc]="this.image"
        [imgAlt]="this.imageAlt"
    ></app-image-tag>
    <div class="brand_information__wrapper"  [ngStyle]="{'visibility':isLabelVisible ? 'visible' : 'hidden'}">
        <div class="brand_information_internal__wrapper">
            <p class="title">{{this.title}}</p>
            <p class="brand_name">{{this.brandName}}</p>
            <a class="social" href="{{this.socialUrl}}" target="_blank" rel="noopener noreferrer">@{{this.social}}</a>
        </div>
    </div>
</div>