<div id="midle_content__wrapper">
    <app-svg-tag
        [svgWidth]=55
        [elementXTransform]=27
        [y]=36
        [elementHeight]="'100%'"
        [svgHeight]="this.svgHeight"
        [elementWidth]= 1
        [color]="this.changeLineColorBasedOnPageSection()"
    ></app-svg-tag>
    <app-informative-text-wrapper></app-informative-text-wrapper>
    <div id="slider_download__wrapper">
        <app-image-slider></app-image-slider>
        <app-download-btn></app-download-btn>
    </div>
    <app-menu-icon
        [pageLayout]="this.pageLayout"
    ></app-menu-icon>
    <app-svg-tag
        [svgWidth]=55
        [elementXTransform]=27
        [y]=0
        [elementHeight]="'100%'"
        [svgHeight]="this.svgHeight"
        [elementWidth]= 1
        id="endLineSvg"
        [color]="this.changeLineColorBasedOnPageSection()"
    ></app-svg-tag>
</div>