<div id="midle_content__wrapper">
    <app-side-line-midle-page
    [pageSection]="this.pageLayout">   
    </app-side-line-midle-page>

  <div id="midle_page_content__wrapper" class={{this.pageLayout}} @scaleIn>
    <div id="top_identifier__wrapper">
      <app-top-bar-identifier-informative-page
        [page]="this.page"
        [getPageLabelBasedOnPage]="this.pageLocationHelper.getPageLabelBasedOnPage.bind(this)"
      >
      </app-top-bar-identifier-informative-page>
    </div>
    <div id="section-title">
      <app-section-title [page]="this.page"> </app-section-title>
    </div>
    <div id="middle_page_text_downloader__wrapper">
      <div id="informative_wrapper">
        <app-informative-text-wrapper
          [page]="this.page"
        ></app-informative-text-wrapper>
      </div>
      <div id="slider_download__wrapper">
      <app-image-tag *ngIf="this.page === 'morning_culture-guide' ||
                      this.page === 'morning_tree' || 
                      this.page === 'morning_brand-manual'" 
        [imgSrc]="this.pageLocationHelper.getImagesBasedOnPage(this.page)"
        [imgAlt]="this.pageLocationHelper.getPageLabelBasedOnPage(this.page)"
        [class]="'inforativePageImage'">
      </app-image-tag>
      <app-video-tag *ngIf="this.page === 'morning_magazine'"
      [video]="'/assets/video/dez-anos.mp4'"
      [class] ="'informativePageVideo'"
      >
      </app-video-tag>
      <app-pdf-viewer *ngIf="this.page === 'morning_compass' "
      [page]="this.page"
      >
      </app-pdf-viewer>
      <div class="downloadSection">
        <app-download-btn *ngIf="this.page != 'morning_magazine'"
        [page]="this.page">
        </app-download-btn>
      </div>
      </div>
    </div>
  </div>
  <app-menu-icon 
    [pageLayout]="this.pageLayout"
    [action]="this.menuAction"  
    [openMenu]="this.openMenu"
  ></app-menu-icon>
  <app-side-line-midle-page
  [endLine]=true
  [pageSection]="this.pageLayout">   
  </app-side-line-midle-page>
</div>
