#endLineSvg{
    margin-top: -2.1%;
}
#midle_content__wrapper{
    height: 74vh;
    display: flex;
    justify-content: space-between;
}
#middle_page_text_downloader__wrapper{
    display:flex;
    flex-wrap: wrap;
    height: 80%;
    width:100%;
}
#midle_page_content__wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
    background-color: white;
    height: 90%;
    padding: 1em;
    margin: 3.2em;
    margin-top: 0px;
    box-shadow: rgba(0,0,0,.2) 0 4px 16px;
}
#top_identifier__wrapper{
  display:flex;
  width:100%;
}
app-side-line-midle-page{
    height: 100%;
}
app-top-bar-identifier-informative-page{
    width: 100%;
}
app-menu-icon{
   margin-left: auto;
   margin-right: 20px;
}
#slider_download__wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}

app-informative-text-wrapper{
    width: 40%;
}
app-image-tag{
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height:calc(100% - 50px);
}
app-video-tag{
    max-width:100%;
    height:calc(100% - 50px);
}
app-pdf-viewer{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height:calc(100% - 50px);
}
.downloadSection{
    width: 100%;
    display: flex;
    margin-right: 19%;
    app-download-btn{
        margin-left: auto;
    }
}
#section-title{
    width: 100%;
    padding-left: 14px;
}
#informative_wrapper{
    width: 38%;
    padding-left: 14px;
    padding-top: 2em;
}
@media only screen and (max-width : 1440px) {
    app-image-tag{
        max-width: 70%;
    }
    .downloadSection{
        margin-right: 15%;
    }
}
@media only screen and (min-width : 3000px) {
    #midle_content__wrapper{
        height: 76vh;
    }
    #endLineSvg{
        margin-top: -1%;
    }
}
