<swiper [config]="config">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
        <app-stamp-slider-items
            [image]="'assets/img/aerolito.jpg'"
            [social]="'aaerolito'"
            [redirectTo]="'https://aeroli.to/'"
        >
        </app-stamp-slider-items>
    </div>
    <div class="swiper-slide">
        <app-stamp-slider-items
            [image]="'assets/img/ampr.jpg'"
            [social]="'ampr'"
            [redirectTo]="'http://www.amprincorporadora.com.br/'"
        >
        </app-stamp-slider-items>
    </div>
    <div class="swiper-slide">
        <app-stamp-slider-items
            [image]="'assets/img/anacapri.jpg'"
            [social]="'anacaprioficial'"
            [redirectTo]="'https://www.anacapri.com.br/'"
        >
        </app-stamp-slider-items>
    </div>
    <div class="swiper-slide">
        <app-stamp-slider-items
            [image]="'assets/img/balanceado.jpg'"
            [social]="'balanceadobrasil'"
            [redirectTo]="'https://balanceado.com/'"
        >
        </app-stamp-slider-items>
    </div>
    <div class="swiper-slide">
        <app-stamp-slider-items
            [image]="'assets/img/cafe_do_ mercado.jpg'"
            [social]="'cafedomercado'"
            [redirectTo]="'https://cafedomercado.com.br/'"
        >
        </app-stamp-slider-items>
    </div>
    <div class="swiper-slide">
        <app-stamp-slider-items
            [image]="'assets/img/casamundi.jpg'"
            [social]="'casamundi'"
            [redirectTo]="'https://casamunditurismo.com.br/'"
        >
        </app-stamp-slider-items>
    </div>
    <div class="swiper-slide">
        <app-stamp-slider-items
            [image]="'assets/img/centhury.jpg'"
            [social]="'graficacenthury'"
            [redirectTo]="'http://centhury.com.br/'"
        >
        </app-stamp-slider-items>
    </div>
    <div class="swiper-slide">
        <app-stamp-slider-items
            [image]="'assets/img/la_mafia.jpg'"
            [social]="'lamafiabarbearia'"
            [redirectTo]="'https://www.lamafiabarbearia.com.br/'"
        >
        </app-stamp-slider-items>
    </div>
    <div class="swiper-slide">
        <app-stamp-slider-items
            [image]="'assets/img/le_grand.jpg'"
            [social]="'legrandburger'"
            [redirectTo]="'http://www.legrandburger.com.br/'"
        >
        </app-stamp-slider-items>
    </div>
    <div class="swiper-slide">
        <app-stamp-slider-items
            [image]="'assets/img/moveis_do_bem.jpg'"
            [social]="'moveisdobem'"
            [redirectTo]="'http://www.moveisdobem.com/'"
        >
        </app-stamp-slider-items>
    </div>
    <div class="swiper-slide">
        <app-stamp-slider-items
            [image]="'assets/img/natiruts.jpg'"
            [social]="'natirutsoficial'"
            [redirectTo]="'http://www.natiruts.com/beta/'"
        >
        </app-stamp-slider-items>
    </div>
    <div class="swiper-slide">
        <app-stamp-slider-items
            [image]="'assets/img/scala.jpg'"
            [social]="'scala'"
            [redirectTo]="'https://www.lojascala.com.br/'"
        >
        </app-stamp-slider-items>
    </div>
    <div class="swiper-slide">
        <app-stamp-slider-items
            [image]="'assets/img/squadra.jpg'"
            [social]="'squadrafutevolei'"
            [redirectTo]="'https://www.squadrafutevolei.com.br/'"
        >
        </app-stamp-slider-items>
    </div>
    <div class="swiper-slide">
        <app-stamp-slider-items
            [image]="'assets/img/urban.jpg'"
            [social]="'urbanfarmcy'"
            [redirectTo]="'https://www.urbanfarmcy.com.br/'"
        >
        </app-stamp-slider-items>
    </div>
    <div class="swiper-slide">
        <app-stamp-slider-items
            [image]="'assets/img/ciao.jpg'"
            [social]="'ciaopizzerianapoletana'"
            [redirectTo]="'https://www.facebook.com/ciaopizzerianapoletana/'"
        >
        </app-stamp-slider-items>
    </div>
  </div>
  <!-- Add Arrows -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</swiper>
