#midle_content__wrapper{
    height: 74vh;
    display: flex;
    justify-content: flex-start;
}
#midle_page_content__wrapper{
    display: flex;
    flex-flow: row wrap;
    background-color: white;
    max-height: 100%;
    padding: 1em;
    margin: 3.2em;
    margin-top: 0px;
}
#top_identifier__wrapper{
  display:flex;
  width:100%;
  max-height: 59px;
}
app-side-line-midle-page{
    height: 100%;
}
app-top-bar-identifier-informative-page{
    width: 100%;
}
app-menu-icon{
   margin-left: auto;
   margin-right: 20px;
}
#midle_page_content__wrapper{
    width: 100%;
}
#branding_information__wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 320px;
    overflow-y: auto;
}
.branding_information_row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.branding_information_row:not(:first-child){
    padding-top: 5%;
}