/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap');

main{
    position: relative;
}
body{
    margin: 0px;
    overflow: hidden;
    font-family: 'Ubuntu', Helvetica, Sans-Serif;
    p, h1, h2, h3, h4, h5, h6, a, span, strong, label{
        text-transform: lowercase !important;
    }
    p{
        text-align: justify;
    }
}
#floating_icons_2__icon > div:nth-child(1) > app-load-svg:nth-child(1) > div:nth-child(1) > svg:nth-child(1) > g:nth-child(2) > path,
#floating_icons_4__icon > div:nth-child(1) > app-load-svg:nth-child(1) > div:nth-child(1) > svg:nth-child(1) > g:nth-child(2) > path,
#floating_icons_3__icon > div:nth-child(1) > app-load-svg:nth-child(1) > div:nth-child(1) > svg:nth-child(1) > g:nth-child(2) > circle,
#floating_icons_3__icon > div:nth-child(1) > app-load-svg:nth-child(1) > div:nth-child(1) > svg:nth-child(1) > g:nth-child(2) > line,
#floating_icons_5__icon > div:nth-child(1) > app-load-svg:nth-child(1) > div:nth-child(1) > svg:nth-child(1) > g:nth-child(2) > circle,
#floating_icons_5__icon > div:nth-child(1) > app-load-svg:nth-child(1) > div:nth-child(1) > svg:nth-child(1) > g:nth-child(2) > path,
#floating_icons_1__icon > div:nth-child(1) > app-load-svg:nth-child(1) > div:nth-child(1) > svg:nth-child(1) > g:nth-child(2) > g:nth-child(2) > text,
#floating_icons_0__icon > div:nth-child(1) > app-load-svg:nth-child(1) > div:nth-child(1) > svg:nth-child(1) > g:nth-child(2) > g:nth-child(2) > text{
    stroke: #3AA3AC;
    fill: none;
}

.floating_icon__bg > app-load-svg:nth-child(1) > div.afternoon:nth-child(1) > svg:nth-child(1){
    width: 200px;
    height: 200px;
}

.swiper-pagination-bullet{
    width: 15px !important;
    height: 15px !important;
    margin-left: 5px !important;
}

app-timeline-item-row.timeline_upper_items:nth-child(2) > div:nth-child(1){
    height: 1122px;
}
app-colab-slider-brands .swiper-button-prev,app-colab-slider-brands .swiper-button-next{
    top: 41%;
}
app-colab-slider-brands .swiper-button-next{
    right: 26px;
}
.swiper-button-prev::before, .swiper-button-prev::after,
.swiper-button-next::before, .swiper-button-next::after{
    font-size: 26px !important;
    font-weight: bold !important;
}
.swiper-slide.swiper-slide-next{
    color: white !important;
}

.leader-line{
    z-index: 3;
}
#Email{
    padding-right: 0;
}