/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,700&display=swap');
body{
    margin: 0px;
    overflow: hidden;
    font-family: 'Ubuntu', Helvetica, Sans-Serif;
}
#floating_icons_2__icon > div:nth-child(1) > app-load-svg:nth-child(1) > div:nth-child(1) > svg:nth-child(1) > g:nth-child(2) > path,
#floating_icons_4__icon > div:nth-child(1) > app-load-svg:nth-child(1) > div:nth-child(1) > svg:nth-child(1) > g:nth-child(2) > path,
#floating_icons_3__icon > div:nth-child(1) > app-load-svg:nth-child(1) > div:nth-child(1) > svg:nth-child(1) > g:nth-child(2) > circle,
#floating_icons_3__icon > div:nth-child(1) > app-load-svg:nth-child(1) > div:nth-child(1) > svg:nth-child(1) > g:nth-child(2) > line,
#floating_icons_5__icon > div:nth-child(1) > app-load-svg:nth-child(1) > div:nth-child(1) > svg:nth-child(1) > g:nth-child(2) > circle,
#floating_icons_5__icon > div:nth-child(1) > app-load-svg:nth-child(1) > div:nth-child(1) > svg:nth-child(1) > g:nth-child(2) > path,
#floating_icons_1__icon > div:nth-child(1) > app-load-svg:nth-child(1) > div:nth-child(1) > svg:nth-child(1) > g:nth-child(2) > g:nth-child(2) > text,
#floating_icons_0__icon > div:nth-child(1) > app-load-svg:nth-child(1) > div:nth-child(1) > svg:nth-child(1) > g:nth-child(2) > g:nth-child(2) > text{
    stroke: #3AA3AC;
    fill: none;
}

.floating_icon__bg > app-load-svg:nth-child(1) > div.afternoon:nth-child(1) > svg:nth-child(1){
    width: 200px;
    height: 200px;
}