#midle_content__wrapper{
    height: 74vh;
    display: flex;
    justify-content: flex-start;
}
#midle_page_content__wrapper{
    display: flex;
    flex-flow: row wrap;
    background-color: white;
    max-height: 100%;
    padding: 1em;
    margin: 3.2em;
    margin-top: 0px;
    box-shadow: rgba(0,0,0,.2) 0 4px 16px;
}
#midle_page_content__wrapper.night{
    box-shadow: rgba(255,255,255,.4) 0 4px 16px;
}
#top_identifier__wrapper{
  display:flex;
  width:100%;
  max-height: 59px;
}
app-side-line-midle-page{
    height: 100%;
}
app-top-bar-identifier-informative-page{
    width: 100%;
}
app-menu-icon{
   margin-left: auto;
   margin-right: 20px;
}
app-section-title{
    width: 100%;
}
#stamp_information__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    padding-left: 2em;
    padding-right: 2em;
    app-informative-text-wrapper{
        width: 40%;
        text-align: justify;
    }
    #stamp_video__wrapper{
        width: 60%;
        display: flex;
        app-video-tag{
            max-width: 70%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
#stamp_image_slider__wrapper{
    width: 100%;
    display: flex;
}
#stamp_image_slider__wrapper p{
    width: 100%;
}
app-stamp-image-slider{
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
}
p{
    margin-top: 0;
    margin-bottom: 0;
}

@media only screen and (max-width : 1440px) {
    app-stamp-image-slider{
        padding-top: 0;
    }
}