#IconWrapper{
    padding: 192px;
    padding-top: 134px;
    padding-bottom: 57px;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
}
.flex-row{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 100%;
}
#social{
    justify-content: flex-end;
}
#contianer_icon{
    display: flex;
    justify-content: space-between;
}
app-icon-page-midle-row{
    height: 650px;
    width: 100%;
}
app-icon-page-top-row{
    height: 100%;
}
app-social-icons-wrapper{
    padding-right: 1.5%;
}

@media only screen and (max-width : 1280px) {
    app-icon-page-midle-row{
        height: 450px;
    }
}
@media only screen and (min-width : 3000px){
    app-icon-page-midle-row{
        height: 1150px;
    }
}